/* ページ全体のフォントを変更 */
body {
  font-family: "Noto Sans JP", sans-serif;
}

/* コンテナのスタイルを変更 */
.container {
  max-width: 1200px;
  margin: 0 auto;
}

/* ヘッダーのスタイルを変更 */
header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
  background-color: #333;
  color: #fff;
}

/* タイトルのスタイルを変更 */
h1 {
  color: #fff;
  text-align: center;
  margin-bottom: 20px;
}

/* 地図の枠線を追加 */
.leaflet-container {
  border: 1px solid #ccc;
}

/* 地図をセンターに配置 */
.map {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

/* 説明のスタイルを変更 */
.description {
  color: #666;
  font-size: 18px;
  margin: 20px;
  text-align: center;
}

/* 説明の行間を縮める */
.description p {
  line-height: 0.5;
}

/* 乗降者数のスタイルを変更 */
.passenger {
  color: #333;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}

/* フッターのスタイルを変更 */
footer {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
  background-color: #333;
  color: #fff;
  text-align: center;
}